.todoFilter {
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
}

.todoFilter button {
  padding: 6px 15px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: all 0.3s;
}

.active {
  background: #4caf50;
  color: white;
  border-color: #4caf50;
}